.container1{
    display: flex;
    flex-direction: column;
    /* resize: both; */
    margin: 40px 37vw 5px;
    padding: 15px 40px;
    border: 1px solid rgba(0, 0, 0, 0.349);
}
.container2{
    display: flex;
    /* flex-direction: column; */
    margin: 5px 37vw 5px;
    padding: 20px 40px;
    border: 1px solid rgba(0, 0, 0, 0.349);
}

/* #email{
    width: 90%;
    height: 30px;
   
    border-radius: 0.2rem;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.801);
}
#password{
    
    width: 90%;
    height: 30px;
    
    border-radius: 0.2rem;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.801);
} */

.loginButton{
    width: 93%;
    height: 28px;
    margin: 2px;
    background-color: rgba(135, 182, 235, 0.897);
    border: 0px;
    border-radius: 0.6rem;
    color: white;
    text-size-adjust: 500%;
}
.registerButton{
    color: rgba(0, 102, 255, 0.719);
    background-color: white;
    border: 0px;
}