input{
    width: 90%;
    height: 30px;
    /* margin-bottom: .1px; */
    /* padding: 1px; */
    border-radius: 0.2rem;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.801);
    margin:2px
}

#text{
    color: rgba(128, 128, 128, 0.651);
}

#footer{
    color: rgba(128, 128, 128, 0.473);
}

.signUpButton{
    width: 93%;
    height: 28px;
    margin: 2px;
    background-color: rgba(135, 182, 235, 0.897);
    border: 0px;
    border-radius: 0.6rem;
    color: white;
    text-size-adjust: 500%;
}

.signUpButton:hover{
    background-color: rgba(0, 60, 255, 0.61);
    cursor: pointer;
}